*{
  margin: 0;
  padding: 0;
}

.clock-list {
  display: flex;
  flex-wrap: wrap;
}

.clock {
  width: 100px;
  border: solid 1px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-right: 40px;
}